
  <div class="field">

    分類：<%= hidden_field_tag :group_id %>
    種類：<%= hidden_field_tag :kind_id %>
    商品名：<%= text_field_tag :article %>
    金額：<%= text_field_tag :price %>

  </div>
  <div class="actions">
    <input type="submit" class="btn btn-primary" value="登録" />
  </div>
